# Playground to try out code

In [ ]:
from pathlib import Path

import pandas as pd

customers_file_path = Path("../data/input/clientes.csv")

customers_df = pd.read_csv(customers_file_path)
customers_df

In [ ]:
type(customers_df)

In [4]:
from scripts.generate_sample_data import generate_sample_data

generate_sample_data()

,name,email,country,created_at,status
0,Misty Manning,patriciaedwards@example.com,Colombia,2023-12-20 21:25:49.890913,ACTIVE
1,Melinda Carr,bcasals@example.org,Argentina,2025-02-06 10:40:49.947300,INACTIVE
2,Christina Gray,allen57@example.org,Uruguay,2024-04-05 02:29:48.542632,PENDING
3,Ágata Tejedor Madrid,rafaelgoicoechea@example.com,Bolivia,2024-02-24 05:39:11.726649,INACTIVE
4,Melissa Gardner,omontserrat@example.com,Colombia,2023-12-03 19:53:31.041377,PENDING
...,...,...,...,...,...
996,Evangelina Pintor Bartolomé,ymartinez@example.org,Colombia,2023-11-30 00:14:38.211678,ACTIVE
997,Vera Marin Rosales,garciaerin@example.net,Venezuela,2023-08-23 11:10:40.523131,ACTIVE
998,Andrés Felipe Narváez,anunciacionbarba@example.org,Mexico,2024-03-20 19:35:55.431139,INACTIVE
999,Abigaíl Osorio,brandon18@example.org,Bolivia,2024-11-23 11:44:21.070556,ACTIVE
1000,Octavio Aroca Tello,wjones@example.org,Colombia,2024-11-20 09:00:26.855668,PENDING

In [5]:
from src.data_processor import DataProcessor

processor = DataProcessor()

In [7]:
processor.import_csv_to_database("./data/input/clientes.csv")

2025-07-13 22:26:32,212 - INFO: Starting import from ./data/input/clientes.csv
2025-07-13 22:26:32,338 - INFO: Processed chunk 1, rows: 1000
2025-07-13 22:26:32,348 - INFO: Processed chunk 2, rows: 1
2025-07-13 22:26:32,349 - INFO: Import completed. Total chunks: 2, Total rows: 1001

True

In [8]:
print("Database Statistics:")
stats = processor.get_database_stats()
if stats:
    print(f"Total customers: {stats['total_customers']}")

    print("Clients by country (top 5):")
    for country, count in list(stats["by_country"].items())[:5]:
        print(f"  {country}: {count}")

    print("Clients by status:")
    for status, count in stats["by_status"].items():
        print(f"  {status}: {count}")

Database Statistics:
Total customers: 1001
Clients by country (top 5):
  Colombia: 323
  Ecuador: 88
  Bolivia: 87
  Argentina: 84
  Uruguay: 80
Clients by status:
  PENDING: 282
  ACTIVE: 246
  INACTIVE: 241
  SUSPENDED: 232